<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <h2>
      <a class="navbar-brand logo-text" href="{{ url_for('index_view') }}">Адвокат Наталенко Владимир</a>
    </h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span>
    </button>

    <div class="collapse navbar-collapse"  style="z-index: 2;" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="#section-home" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="#section-aboutus" class="nav-link">О&nbsp;нас</a></li>
        <li class="nav-item"><a href="#section-features" class="nav-link">Практика</a></li>
        <li class="nav-item"><a href="#section-prices" class="nav-link">Стоимость</a></li>
        <li class="nav-item"><a href="#section-contact" class="nav-link">Контакты</a></li>
      </ul>
    </div>
  </div>
</nav>